.FooterMain{
    background-color: #6142FB;
    height: 55%;
    padding: 0 6rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.FooterMain .FooterHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 1.5rem;
}

.FooterHeader .topleft h1{
    color: #E8F953;
}

.FooterHeader .topright {
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

.topright .Footerlogo{
    color: #EAE8F7;
    transition: ease-in .2s;
    margin-left: 2rem;
}

.topright .Footerlogo:hover{
    color: #E8F953;
}

.FooterMain .FooterBody{
    color: #EAE8F7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.FooterBody .bodyContainer{
    padding-right: 9rem;
}

.FooterMain .FooterBody .bodyContainer .containerHeader h2{
    font-weight: 500;
}

.FooterMain .FooterBody .bodyContainer .containerBody {
    padding-top: 1rem;
}

.FooterMain .FooterBody .bodyContainer .containerBody ul{
    list-style-type: none;
    padding: 0;
    font-size: 1em;
    font-weight: 300;
}

.FooterMain .FooterBody .bodyContainer .containerBody a{
   text-decoration: none;
   color: inherit;
}



.FooterMain .FooterBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #EAE8F7;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
}

.FooterBottom .Bottomleft{
    display: flex;
    flex-direction: row;
}

.FooterBottom .Bottomleft p{
    padding-right: 2rem;
    cursor: pointer;
}

.FooterBottom .Bottomleft a{
   text-decoration: none;
   color: inherit;
}



@media (min-width: 400px) and (max-width: 600px) {
    .FooterMain{
        background-color: #6142FB;
        width: 100%;
        height: fit-content;
        padding: 0 3rem;
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .FooterHeader .topleft h1{
        font-size: 5.5vw;
    }

    .FooterHeader .topright {
        width: fit-content;
        display: flex;
        justify-content: space-between;
    }

    .FooterMain .FooterBody{
        color: #EAE8F7;
        display: flex;
        height: 60%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .FooterMain .FooterBody .bodyContainer .containerHeader h2{
        font-size: 4vw;
    }

    .FooterMain .FooterBody .bodyContainer .containerBody {
        padding-top: 0;
    }
    
    .FooterMain .FooterBody .bodyContainer .containerBody ul {
        font-size: 3vw;
    }
    .FooterBody .bodyContainer {
        padding-right: 9rem;
        margin: 1rem 0;
    }
    .FooterBottom .Bottomleft {
        font-size: 2.5vw;
    }
    .FooterBottom .bottomright {
        font-size: 2.5vw;
    }
    .FooterMain .FooterBottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #EAE8F7;
        border-top: 1px solid gray;
        padding: 1rem 0;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    .FooterMain{
        background-color: #6142FB;
        width: 100%;
        height: fit-content;
        padding: 0 3rem;
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .FooterHeader .topleft h1{
        font-size: 5.5vw;
    }

    .FooterHeader .topright {
        width: fit-content;
        display: flex;
        justify-content: space-between;
    }

    .FooterMain .FooterBody{
        color: #EAE8F7;
        display: flex;
        height: 60%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .FooterMain .FooterBody .bodyContainer .containerHeader h2{
        font-size: 4vw;
    }

    .FooterMain .FooterBody .bodyContainer .containerBody {
        padding-top: 0;
    }
    
    .FooterMain .FooterBody .bodyContainer .containerBody ul {
        font-size: 3vw;
    }
    .FooterBody .bodyContainer {
        padding-right: 9rem;
        margin: 1rem 0;
    }
    .FooterBottom .Bottomleft {
        font-size: 2.5vw;
    }
    .FooterBottom .bottomright {
        font-size: 2.5vw;
    }
    .FooterMain .FooterBottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #EAE8F7;
        border-top: 1px solid gray;
        padding: 1rem 0;
    }
}