.Hero {
    position: relative; 
    height: 59%;
    background-image: url('../../Asset/Bg-hero.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.Hero::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719); 
}


.Hero > * {
    position: relative;
    z-index: 10;
}

.Hero .HeroBody{
    display: flex;
    flex-direction: column;
    color: #E8F953;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeroBody h1{
    font-weight: 600;
    font-size: 3.5em;
    word-spacing: .2em;
}

.Hero .wave1{
    position: absolute;
    top: 0;
}

.Hero .wave2{
    position: absolute;
    bottom: 0;
}