.NavbarBody{
    width: 100%;
    height: 15%;
    background-color: #530066;
    padding: 0 6rem;
}

.NavbarBody .bodyContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.Bodyleft .CodaHeaderLogo{
    width: 20rem;
    cursor: pointer;
}

.Bodyright {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}


.Bodyright .Navbar-button{
    width: 100%;
    font-size: 1vw;
    border: 4px solid #FF7F98;
    background-color: #FF7F98;
    border-radius: 10px;
    padding: .1rem .3rem;
    cursor: pointer;
    color: #E8F953;
    font-weight: 800;
    transition: 0.5s ease;
}

.Bodyright .Navbar-button:hover{
    background-color: #E8F953;
    border: 4px solid #E8F953;
    color: #6142FB;
}

.SearchBar{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 400px) and (max-width: 600px) {
    .NavbarBody {
        width: 100%;
        height: 15%;
        padding: 0 3rem;
    }
    .Bodyleft .CodaHeaderLogo {
        width: 30vw;
        cursor: pointer;
    } 
    .Bodyright {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 40%;
    }

    .Bodyright .Navbar-button {
        width: 100%;
        font-size: 2vw;
        border: 4px solid #FF7F98;
        background-color: #FF7F98;
        border-radius: 10px;
        padding: .1rem .3rem;
        cursor: pointer;
        color: #E8F953;
        font-weight: 800;
        transition: 0.5s ease;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    .NavbarBody {
        width: 100%;
        height: 15%;
        padding: 0 3rem;
    }
    .Bodyleft .CodaHeaderLogo {
        width: 30vw;
        cursor: pointer;
    } 
    .Bodyright {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 40%;
    }

    .Bodyright .Navbar-button {
        width: 100%;
        font-size: 2vw;
        border: 4px solid #FF7F98;
        background-color: #FF7F98;
        border-radius: 10px;
        padding: .1rem .3rem;
        cursor: pointer;
        color: #E8F953;
        font-weight: 800;
        transition: 0.5s ease;
    }
}