@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');

body {
  margin: 0;
  background-color: #280031;
  font-family: -apple-system, BlinkMacSystemFont, 'Coda',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E8F953;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF7F98;
}